@model TicketDataLayer.Model.Corporate

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Corporate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CorporateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorporateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorporateImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorporateImage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CorporateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
