@model IEnumerable<TicketDataLayer.Model.Corporate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CorporateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorporateImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CorporateName)
        </td>
        <td>
            <img src="~/Content/Image/@item.CorporateImage" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CorporateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CorporateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CorporateId })
        </td>
    </tr>
}

</table>
